.popOverCss
{

    width: 400px;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #A1B0CCB5;
    border-radius: 5px;
    opacity: 1;

}
.Name
{
    text-align: left;
    font: bolder 17px/55px Nunito;
    letter-spacing: -0.26px;
    color: #393939;
    opacity: 1;

}
.NoShow
{
text-align: left;
font: SemiBold 13px/25px Nunito;
letter-spacing: -0.2px;
opacity: 1;
}
.NoShowTitle
{
    text-align: left;
    font: bold 13px/25px Nunito;
    letter-spacing: -0.2px;
    color: #393939;
}
.NoShowValue
{
text-align: left;
font: bold 13px/25px Nunito;
letter-spacing: -0.2px;
color: #FF4D4D;
}
.BookingDate
{
text-align: left;
font:lighter 12px/25px Nunito;
letter-spacing: -0.18px;
color: #393939;
opacity: 1;
}
.Line
{
width: 260px;
height: 0px;
border: 1px solid #E9E9E9;
opacity: 1;

margin-top: 5px;
}

.Treatment
{
text-align: left;
font: Bold 15px/25px Nunito;
letter-spacing: -0.23px;
color: #393939;
opacity: 1;
}
.Duration
{
text-align: left;
font: Regular 13px/25px Nunito;
letter-spacing: -0.2px;
color: #393939;
opacity: 1;
}
.CancelBooking
{
text-align: left;
font: Bold 13px Nunito;
letter-spacing: -0.2px;
color: #5D5D5D;
opacity: 1;
}
.ConfirmationPending
{
text-align: right;
font: Regular 12px/25px Nunito;
letter-spacing: -0.18px;
color: #868686;
opacity: 1;
}