@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*,
body {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background: #F5F9FF;
}

.ant-row.ant-row-middle .ant-col-2:first-child {
    display: none;
}

.ant-col {
    padding: 5px 0;
    display: inherit;
}

.popOverCss {
    min-width: 374px;
    margin: 0 5px;
    font-size: 100% !important;
}

.ant-popover-placement-bottomLeft>.ant-popover-content>.ant-popover-arrow {
    background: white;
}

.nameTitle {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
    line-height: normal;
    letter-spacing: normal;
    color: #000 !important;
    opacity: .9 !important;
}

.Treatment {
    margin-bottom: 10px;
}

.mbHeader {
    border-bottom: 1px solid #E9E9E9;
}

span.ConfirmationPro {
    padding: 10px;
    margin-top: 18px;
    border-radius: 20px;
    text-align: center;
    /*color: green;*/
    display: inherit;
    /*border: 1px solid green;*/
}

span.CancellationPro {
    padding: 10px;
    margin-top: 18px;
    border-radius: 20px;
    text-align: center;
    /*color: red;*/
    display: inherit;
    /*border: 1px solid red;*/
}

bodyText {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000 !important;
    opacity: .8 !important;
}

.BokkingDate {
    border-bottom: 1px solid #E9E9E9;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.NoShowValue {
    color: #FF4D4D;
    font-weight: bold;
}

.mbIcon {
    position: relative;
    margin-bottom: -5px;
    padding-right: 10px;
    width: 20px !important;
    height: auto !important;
    opacity: .4;
}

.btn {
    border-top: 1px solid #E9E9E9;
    width: 100%;
    margin-top: 15px;
    padding-top: 5px;
}

.btn-blue,
.btn-black {
    box-shadow: none !important;
    background: #fff !important;
    font-size: 100% !important;
    white-space: nowrap !important;
    border: 1px solid !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
}

.btn-blue {
    color: #4786FF !important;
    border-color: #4786FF !important;
    margin-left: 15px !important
}

.btn-black {
    border-color: #999 !important;
}

.btn-blue:hover,
.btn-black:hover {
    box-shadow: 0 5px 5px #ccc !important;
}

.btn-icon {
    width: 20px !important;
    margin-bottom: -3px !important;
    position: relative;
    margin-bottom: 0px;
    padding-right: 0;
    margin-right: 20px;
}

.btn-blue .btn-icon {
    margin-right: 5px;
    margin-top: -4px;
}

startIcon.MuiButton-iconSizeSmall {
    width: 20px !important;
    margin-top: -3px;
    margin-right: 5px;
    margin-left: -5px;
}

.AppointmentConfirmed,
.ConfirmationPending {
    text-align: center;
    background: #eee;
    margin-top: 10px;
    padding: 5px 0px;
    display: block;
    color: #000 !important;
    font-size: 14px;
}
.AppointmentConfirmed {
    background: #e5ffe1 !important;
    color: #109800 !important;
}
.ShowConfirmBlock,
.NoShowBlock {
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #000 !important;
}
.NoShowBlock {
    background: rgb(255, 236, 236);
}
.ShowConfirmBlock {
    background: rgb(255, 236, 236);
}
span.serviceName {
    font-size: 14px;
    opacity: .7;
    display: block;
}

span.textLable {
    color: #000;
}


/* event */

.event-item div {
    text-align: left !important;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-item div:first-child {
    font-size: 14px;
}

.event-item {
    height: 50px !important;
}

th.header3-text {
    background: #edf2fb;
}

span.expander-space {
    width: 30px;
    height: 30px;
    background: url(pic/user1.png) center center;
    background-size: cover;
    margin-top: -10px;
    display: inline-block;
    margin-right: 7px;
}
.resource-view div {
    overflow: hidden;
}
.scheduler-view {
    background: white;
}

.event-item {
    padding-right: 10px !important;
}

#RBS-Scheduler-root th {
    text-align: left;
    font-weight: bold;
    padding-left: 4px;
}
/* header */

.MuiAppBar-colorPrimary {
    color: #333 !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.brand {
    text-align: left;
    padding-left: 15px;
}

.BrandName {
    text-align: left;
    font-size: 24px;
    line-height: 1;
    color: #1890ff;
    font-weight: bold;
    margin-bottom: 5px;
}

.StudioName {
    text-align: left;
    font-size: 14px;
    opacity: .7;
}

.logo {
    width: 45px;
    height: 45px;
    opacity: .5;
}

.icon-nav {
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    background: white;
    transition: all .2s;
}

.ant-radio-button-wrapper:hover{
    transition: all .2s;
}
.ant-radio-button-wrapper:hover,
.icon-nav:hover{
    box-shadow: 0 3px 5px #ccc !important
}

span.header2-text-label {
    font-size: 20px;
    padding: 0 5px;
}
.ant-row-flex.ant-row-flex-space-between.ant-row-flex-middle .header2-text {
    margin-left: 20px;
}
.slot-text {
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px;
    text-overflow: ellipsis;
}
svg.waitIcon {
    position: absolute;
    top: 5px;
    right: 0;
    opacity: .5;
    width: 13px;
}
.discTooltip {
    position: absolute;
    z-index: 9999;
    background: #666;
    padding: 5px 10px;
    border-radius: 5px;
    left: 50%;
    white-space: normal;
    top: 30px;
    text-align: center;
    margin-left: -75px;
    width: 150px;
    color: white;
}
.ant-popover-open .discTooltip{
    display:none;
}
.discTooltip:after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #666 transparent;
}

/* profile pic */


table.resource-table tr:nth-child(2) span.expander-space {
    background-image: url(pic/user2.png);
}

table.resource-table tr:nth-child(3) span.expander-space {
    background-image: url(pic/user3.png);
}

table.resource-table tr:nth-child(4) span.expander-space {
    background-image: url(pic/user4.png);
}

table.resource-table tr:nth-child(5) span.expander-space {
    background-image: url(pic/user5.png);
}

table.resource-table tr:nth-child(6) span.expander-space {
    background-image: url(pic/user6.png);
}

table.resource-table tr:nth-child(7) span.expander-space {
    background-image: url(pic/user7.png);
}

table.resource-table tr:nth-child(8) span.expander-space {
    background-image: url(pic/user8.png);
}
table.resource-table tr:nth-child(9) span.expander-space {
    background-image: url(pic/user9.png);
}
table.resource-table tr:nth-child(10) span.expander-space {
    background-image: url(pic/user10.png);
}
