@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif !important;
}
.ant-row.ant-row-middle .ant-col-2:first-child {
    display: none;
}
.ant-row.ant-row-middle {
    margin-left: 20px;
}
.Name span {
    display: inherit;
    padding: 20px 0 5px;
}
.ant-col.ant-col-22 {
    padding: 4px 0;
}
.popOverCss
{

    width: 400px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 7px 10px 3px rgba(217,217,217,.7);
    border-radius: 5px;
    opacity: 1;

}
.Name
{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: normal;
    letter-spacing: normal;
    color: #393939;
    opacity: 1;

}
.Duration,
.CancelBooking,
.NoShowValue,
.NoShowTitle,
.NoShow,
.BookingDate
{
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: normal;
letter-spacing: normal;
opacity: 1;
}
.BookingDate,
.NoShowTitle
{
    color: #393939;
}
.NoShowValue
{
color: #FF4D4D;
}
.Line
{
width: 260px;
height: 0px;
border: 1px solid #E9E9E9;
opacity: 1;
margin-top: 5px;
}

.Treatment
{
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: normal;
letter-spacing: normal;
color: #393939;
opacity: 1;
}
.ConfirmationPending
{
text-align: right;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: normal;
letter-spacing: normal;
color: #868686;
opacity: 1;
}